[submodule "deps/nlohmann/json"]
	path = deps/nlohmann/json
	url = https://github.com/nlohmann/json.git

[submodule "deps/lewissbaker/generator"]
	path = deps/lewissbaker/generator
	url = https://github.com/lewissbaker/generator
